<div class="nested-fields">
	<div class="form-inline">	
	  	<%= f.text_field :list_of_responsibility, class: "form-control mb-2 mr-sm-2 col-md-11", placeholder: :list_of_responsibility %>
		<%= link_to_remove_association f, class: "mb-2 btn btn-outline-danger" do %>
			<i class="fas fa-trash-alt"></i>
		<% end %>
	</div> 
</div>